$background-color: #3caeac;
$font-color: #173f5f;
$color: #ed553b;
$margin: 5vw;
$text-padding-under-image: 3vw;
$profile-img-border: solid 10px #f6d55c;
$coverimage-height:500px;

@mixin button($color: #ed553b, $anything:60px) {
    width: fit-content;
    font-size: $anything;
    border: $profile-img-border;
    background-color: $color;

}

@mixin like-button() {
    
    @include button(green);
    font-size:24px;

}

@mixin navigation-button() {
    
    @include button(blue);
    font-size:24px;

}