@import '../Constants.scss';

body {
    background-color: $background-color;
    width: 90vw;
    display: flex;
    position: absolute center;
    margin-left: 5vw;

}

.create-user {
    width: 80vw;
    // margin: 3%;
    border: 10px solid darkblue;
    position: relative;
    color: $font-color;
    display: flex;
    flex-direction: column;
}

.submit-button {
    @include button($color, 24px);
    margin-top: 20px;
    align-self: center;
}

.input-box {
    left: 5%;
    margin-top: 10px;
    padding-top: 20px;
    flex-direction: row;
}

.testButton {
    @include like-button();

}

.profileImage {
    width: 100px;
    border: $profile-img-border;
    position:absolute;
    top:$coverimage-height;
    left: 100px;
    border-radius: 50%;

}

.coverImage { 

    width: 100vw;
    height: $coverimage-height;
    // margin-left: $margin;
    // margin-right: $margin;
}

    